.container{
  background-color: aqua;
  border:4px solid red ;
  text-align: center;
}

.para{
  color:green;
  font-size: 20px;
  font-family: "roboto";
}

.samplepicture{
  height: 200px;
  width: 200px;
}

.formsection{
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
}


.inputDiv{
  width: 15rem;
  height: 2rem;
}

.submitbtn{
  padding: 5px 10px;
  border-radius: 5px;
  margin-top: 5px;
  background-color: blue;
}

.formsection h2{
  color: white;

}